@import "tailwindcss";
@plugin "@tailwindcss/typography";
@variant dark (&:where(.dark, .dark *));

.dark .pdf-reader .react-pdf__Page canvas,
.dark .pdf-reader .react-pdf__Page .textLayer,
.dark .pdf-reader .react-pdf__Page .annotationLayer {
  filter: invert(1) hue-rotate(180deg);
}

::highlight(search-highlight) {
  background-color: rgba(255, 213, 0, 0.4);
}
::highlight(search-highlight-active) {
  background-color: rgba(255, 150, 0, 0.6);
}
